.hall-page {
  display: flex;
	z-index: 1;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.hall-page__hall {
  flex-basis: 100vh;
	padding: 6rem;
	background: rgba(249, 250, 252, 1);
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
  transition: 0.5s;
}
.hall__close-btn {
  display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.hall__close-btn h1 {
	font-size: 5rem;
	margin: 0 0;
	cursor: pointer;
	transition: 0.2s;
}
.hall__close-btn h1:hover {
	color: rgba(212, 7, 84, 1);
}
.hall__screen {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(79, 79, 111, 1);
  border: 0.2rem solid rgba(79, 79, 111, 1);
  border-radius: 0.3rem;
  margin: 1rem 4rem;
  width: 90%;
  height: 4rem;
}
.hall__rows {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 0.2rem solid rgba(79, 79, 111, 1);
  border-radius: 0.3rem;
  padding: 3rem;
}
.rows__row {
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  width: 90%;
  height: 5rem;
}
.row__seat {
  border: 0.1rem solid rgba(79, 79, 111, 1);
  border-radius: 0.3rem;
  width: 7%;
  margin: 1rem 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.row__seat--selected {
  background-color: rgba(212, 7, 84, 1);
  border: 0.1rem solid rgba(79, 79, 111, 1);
  border-radius: 0.3rem;
  width: 7%;
  margin: 1rem 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.row__seat--reserved {
  background-color: rgba(79, 79, 111, 1);
  border: 0.1rem solid rgba(79, 79, 111, 1);
  border-radius: 0.3rem;
  width: 7%;
  margin: 1rem 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  cursor: default;
}
.row__seat:hover {
  background-color: rgba(212, 7, 84, 0.7);
}