.table {
	padding: 1rem;
	.table-header {
		text-align: center;
		margin: 10rem;
	}
	.table__input {
		display: flex;
		justify-content: center;
		.input__search {
			font-size: 3rem;
			display: block;
			width: 70%;
			padding: 1rem 2rem;
			margin: 0 0 5rem 0;
			border-radius: 0.5rem;
			&:focus {
				background: $whiteColor;
				box-shadow: inset 0.1em 0.1em 0.25em $primaryColor;
				outline: 0;
				&::placeholder {
					color: transparent;
				}
			}
		}
	}
}
