*, *:before, *:after {
	box-sizing: border-box;
}
html {
	min-height: 100%;
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	font-family: 'Maven Pro', sans-serif;
	margin: 0;
}
i:hover {
	color: $secondaryColor;
	transition: 0.2s;
}
.main {
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background-color: $secondaryColor;
	background-size: cover;
	position: relative;
}
.header {
	background-color: $primaryColor;
	font-size: 20px;
	display: flex;
	height: 10vh;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 2;
	.menu {
		.menu-navigation{
			display: flex;
			justify-content: flex-end;
			li {
				margin: 0 5rem;
			}
		}
	}
}

.logo__img {
	height: 30px;
	cursor: pointer;
}
.menu {
	width: 60%;
}
.menu .menu-navigation{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.menu-navigation__menu-link {
	font-style: 1.4rem;
	text-decoration: none;
	color: $pFontColor;
}
.menu-navigation__menu-link:hover {
	color: $secondaryColor;
	transition: 0.2s;
}

.menu-navigation__menu-link--sign-in-btn {
	color: $secondaryColor;
	border: 1px solid $secondaryColor;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
}
.menu-navigation__menu-link--sign-in-btn:hover {
	background-color: $secondaryColor;
	color: $primaryColor;
	transition: 0.4s;
}
.slider {
	font-family: 'Bad Script', sans-serif;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.slider__item {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 25%;
	transition: all 0.2s;
	cursor: pointer;
}
.item-1 {
	background: url(../../img/hulk.jpg) no-repeat center center;
	background-size: cover;
}
.item-2 {
	background: url(../../img/ironman.jpg) no-repeat center center;
	background-size: cover;
}
.item-3 {
	background: url(../../img/tor.jpg) no-repeat center center;
	background-size: cover;
}
.item-4 {
	background: url(../../img/america.jpg) no-repeat center center;
	background-size: cover;
}
.item__span {
	font-size: 6rem;
	text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 1);
}
.slider__item:hover {
	flex-basis: 100%;
}
.main-arrow {
	position: relative;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.arrow-down {
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.table {
	display: flex;
	flex-direction: column;
	background-color: $secondaryColor;
	padding: 5rem;
	.table__title {
		text-align: center;
		color: $primaryColor;
		font-size: 5rem;
		margin: 9rem;
	}
	.table-header {
		text-align: center;
		margin-bottom: 5rem;
	}
	.table-header .table-header__title {
		color: $primaryColor;
		font-size: 6rem;
		margin: 0;
	}
	.posters {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		.poster {
			background-color: $pLightColor;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;
			text-align: center;
			padding: 1rem;
			width: 35rem;
			height: 50rem;
			transition: 0.5s;
			margin: 2rem 0;
			&:hover {
				box-shadow: 0px 0px 60px 10px $pLightColor;
			}
			.poster__img {
				&:hover {
					cursor: pointer;
					opacity: 0.9;
				}
			}
			.poster__title {
				font-size: 2rem;
				text-transform: uppercase;
				color: $secondaryColor;
			}
			.poster__release {
				font-size: 2rem;
				color: $secondaryColor;
			}
			.poster__btn {
				background-color: $secondaryColor;
				border: 1px solid $primaryColor;
				color: $primaryColor;
				text-transform: uppercase;
				font-size: 1rem;
				font-weight: 300;
				padding: 1rem auto;
				transition: 0.3s;
				&:hover {
					cursor: pointer;
					background-color: $primaryColor;
					color: $secondaryColor;
				}
			}
		}
	}
}


.text-info {
	padding: 2rem;
	font-size: 1.5rem;
	background-color: rgba(255, 255, 255, 1);
}
.call-to-action {
	position: relative;
	text-align: center;
	padding: 10rem;
	background-color: $secondaryColor;
	color: $primaryColor;
}
.call-to-action span {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 500;
}
.call-to-action h4 {
	font-weight: 500;
	font-size: 5rem;
	margin: 1rem auto 2rem;
}
.cta-btn {
	text-transform: uppercase;
	border: 2px solid $primaryColor;
  background-color: $secondaryColor;
  color: $primaryColor;
  font-size: 1.5rem;
  transition: 0.5s;
  cursor: pointer;
  height: 4rem;
  position: relative;
  z-index: 1;
	overflow: hidden;
	width: 20rem;
	height: 5rem;
	margin: 2rem 5rem;
}
.cta-btn:hover {
	color: $secondaryColor;
}

.cta-btn::before, .cta-btn::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: $primaryColor;
  top: 0;
  left: -100%;
  opacity: 0.5;
  transition: 0.3s;
  z-index: -1;
}
.cta-btn::after {
  opacity: 1;
  transition-delay: 0.2s;
}
.cta-btn:hover::before, .cta-btn:hover::after {
  left: 0;
}

.footer-top {
	font-size: 20px;
	height: 10vh;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 10rem;
	align-items: center;
	background-color: $primaryColor;
	border-bottom: 0.1rem solid  $secondaryColor;
}

.footer-top__menu .footer-navigation {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
.footer-navigation__link{
	font-style: 1.4rem;
	text-decoration: none;
	color: $pFontColor;
	margin: 0 5rem;
}
.footer-navigation__link:hover {
	color: $secondaryColor;
	transition: 0.2s;
}
.footer-navigation__link--sign-in {
	border: 1px solid $secondaryColor;
	color: $secondaryColor;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
}
.footer-navigation__link--sign-in:hover {
	color: $primaryColor;
	background-color: $secondaryColor;
	transition: 0.4s;
}
.legal {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $primaryColor;
}
.copy {
	font-size: 1.4rem;
	color: $pFontColor;
}
.social-links {
	a {
		color: $pFontColor;
		font-size: 2rem;
		display: inline-block;
		margin-right: 1rem;
	}
}
.m-menu-link {
	display: none;
	color: $pFontColor;
	font-size: 3rem;
}
.m-menu {
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	list-style: none;
	font-size: 3rem;
	line-height: 6rem;
	background-color: $primaryColor;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}
.m-menu__menu-link {
	font-style: 1.4rem;
	text-decoration: none;
	color: $pFontColor;
	font-weight: 500;
	transition: 0.2s;
}
.m-menu__menu-link:hover {
	cursor: pointer;
	color: $secondaryColor;
}
.m-menu__menu-link--sign-in-btn {
	color: $secondaryColor;
	border: 1px solid $secondaryColor;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.4s;
}
.m-menu__menu-link--sign-in-btn:hover {
	background-color: $secondaryColor;
	color: $primaryColor;
}
.m-menu__close-menu {
	position: fixed;
	right: 5rem;
	top: 5rem;
	font-size: 5rem;
	font-weight: 900;
	color: $pFontColor;
	transition: 0.2s;
}
.m-menu__close-menu:hover {
	cursor: pointer;
	color: $secondaryColor;
}

.movie {
	display: flex;
	z-index: 1;
	position: fixed;
	background-color: $primaryColor;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.movie-form {
	flex-basis: 80vh;
	padding: 6rem;
	background: rgba(249, 250, 252, 1);
	box-shadow: 0 0 2em $primaryColor;
	transition: 0.5s;
}
.movie-form:hover {
	box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
}
.movie-form__close-btn {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.movie-form__close-btn h1 {
	font-size: 5rem;
	margin: 0 0;
	cursor: pointer;
	transition: 0.2s;
}
.movie-form__close-btn h1:hover {
	color: $secondaryColor;
}
.movie-form {
	.poster {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 4rem 0;
	}
}