$primaryColor: rgba(0, 0, 0, 1);
$pFontColor: rgba(255, 255, 255, 0.7);
$pLightColor: rgba(44, 44, 44, 1);
$bgColor: rgba(0, 0, 0, 0.7);
$secondaryColor: rgba(255, 193, 7, 1);
$sDarkColor: rgba(199, 145, 0, 1);
$sLightColor: rgba(255, 243, 80, 1);
$whiteColor: rgba(255, 255, 255, 1);