.cinemas {
  padding: 10rem;
  background-color: rgba(128, 128, 128, 1);
}

.cinema {
  background-color: rgba(255, 255, 255, 1);
	border-radius: 2rem;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	transition: 0.5s;
	margin: 5rem 0 3rem 0;
	padding: 2rem 0;
}
.cinema:hover {
  box-shadow: 0rem 0rem 5rem 1rem rgba(212, 7, 84, 1);
}

.cinema__img {
	width: 30rem;
	border-radius: 1rem;
}
.cinema__img:hover {
	opacity: 0.8;
	cursor: pointer;
}
.cinema__name {
	font-size: 2rem;
	text-transform: uppercase;
	color: rgba(79, 79, 111, 1);
}
.cinema__address {
	font-size: 2rem;
	color: rgba(79, 79, 111, 1);
}

@media (max-width: 991px) {
	html {
		font-size: 0.5rem;
	}
	.cinema__img {
		width: 40rem;
	}
}
@media (max-width: 690px) {
	html {
		font-size: 0.5rem;
	}
	.cinema__img {
		width: 20rem;
	}
}