*, *:before, *:after {
	box-sizing: border-box;
}
html {
	min-height: 100%;
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	font-family: 'Maven Pro', sans-serif;
	margin: 0;
}
i:hover {
	color: rgba(212, 7, 84, 1);
	transition: 0.2s;
}
.main {
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background-image: linear-gradient(0, rgba(51, 51, 51, 1), rgba(128, 128, 128, 1));
	background-size: cover;
	position: relative;
}
.header {
	background-color: rgba(51, 51, 51, 1);
	font-size: 20px;
	display: flex;
	height: 10vh;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	width: 100%;
	border-radius: 5px;
	z-index: 2;
}
.logo__img {
	height: 30px;
	cursor: pointer;
}
.menu {
	width: 60%;
}
.menu .menu-navigation{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.menu-navigation__menu-link {
	font-style: 1.4rem;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	font-weight: 500;
}
.menu-navigation__menu-link:hover {
	color: rgba(212, 7, 84, 1);
	transition: 0.2s;
}

.menu-navigation__menu-link--sign-in-btn {
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(212, 7, 84, 1);
	border-radius: 100px;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
}
.menu-navigation__menu-link--sign-in-btn:hover {
	background-color: rgba(212, 7, 84, 1);
	transition: 0.4s;
}
.slider {
	font-family: 'Bad Script', sans-serif;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.slider__item {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 25%;
	transition: all 0.2s;
	cursor: pointer;
}
.item-1 {
	background: url(img/hulk.jpg) no-repeat center center;
	background-size: cover;
}
.item-2 {
	background: url(img/ironman.jpg) no-repeat center center;
	background-size: cover;
}
.item-3 {
	background: url(img/tor.jpg) no-repeat center center;
	background-size: cover;
}
.item-4 {
	background: url(img/america.jpg) no-repeat center center;
	background-size: cover;
}
.item__span {
	font-size: 6rem;
	text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 1);
}
.slider__item:hover {
	flex-basis: 100%;
}
.main-arrow {
	position: relative;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.arrow-down {
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.table {
	background-image: linear-gradient(0, rgba(51, 51, 51, 1), rgba(128, 128, 128, 1));
	padding: 10rem;
}

.table-header {
	text-align: center;
	margin-bottom: 5rem;
}
.table-header .table-header__title {
	color: rgba(79, 79, 111, 1);
	font-size: 6rem;
	margin: 0;
}
.posters {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.poster {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 2rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 35rem;
	height: 45rem;
	transition: 0.5s;
}
.poster:hover {
	cursor: default;
	box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
}
.poster__img {
	border-radius: 2rem;
}
.poster__img:hover {
	cursor: pointer;
	opacity: 0.9;
}
.poster__title {
	font-size: 2rem;
	text-transform: uppercase;
	margin: 0 auto;
	color: rgba(79, 79, 111, 1);
}
.poster__release {
	font-size: 2rem;
	color: rgba(79, 79, 111, 1);
}

.poster__btn {
	background-color: rgba(255, 255, 255, 1);
	border: rgba(159, 164, 175, 1) 1px solid;
	color: rgba(159, 164, 175, 1);
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 300;
	padding: 1rem auto;
	border-radius: 100px;
}
.poster__btn:hover {
	cursor: pointer;
	background-color: rgba(212, 7, 84, 1);
	color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}
.text-info {
	padding: 2rem;
	font-size: 1.5rem;
	background-color: rgba(255, 255, 255, 1);
}
.call-to-action {
	position: relative;
	text-align: center;
	padding: 15rem;
	background-image: linear-gradient(0, rgba(51, 51, 51, 1), rgba(128, 128, 128, 1));
	color: rgba(255, 255, 255, 1);
}
.call-to-action span {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 500;
}
.call-to-action h4 {
	font-weight: 500;
	font-size: 5rem;
	margin: 1rem auto 2rem;
}
.cta-btn {
	display: inline-block;
	border: none;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(212, 7, 84, 1);
	width: 20rem;
	font-style: 1.4rem;
	text-transform: uppercase;
	font-weight: 700;
	height: 5rem;
	margin: 1rem;
	border-radius: 100px;
	transition: 0.3s;
}
.cta-btn:hover {
	background-color: rgba(212, 7, 84, 1);
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.footer-top {
	font-size: 20px;
	height: 10vh;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid  rgba(106, 106, 119, 1);
}
.footer-top__menu {
	width: 50%;
}
.footer-top__menu .footer-navigation {
	display: flex;
	justify-content: space-around;
	list-style: none;
}
.footer-navigation__link{
	font-style: 1.4rem;
	text-decoration: none;
	color: rgba(106, 106, 119, 1);
	font-weight: 500;
}
.footer-navigation__link:hover {
	color: rgba(212, 7, 84, 1);
	transition: 0.2s;
}
.footer-navigation__link--sign-in {
	border: 1px solid rgba(212, 7, 84, 1);
	background-color: rgba(212, 7, 84, 1);
	border-radius: 100px;
	color: rgba(255, 255, 255, 1);
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
}
.footer-navigation__link--sign-in:hover {
	color: rgba(212, 7, 84, 1);
	background-color: rgba(255, 255, 255, 1);
	transition: 0.4s;
}
.legal {
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
}
.copy {
	font-size: 1.4rem;
	color: rgba(106, 106, 119, 1);
}
.social-links a{
	color: rgba(106, 106, 119, 1);
	font-size: 2rem;
	display: inline-block;
	margin-right: 1rem;
}
.m-menu-link {
	display: none;
	color: rgba(255, 255, 255, 1);
	font-size: 3rem;
}
.m-menu {
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	list-style: none;
	font-size: 3rem;
	line-height: 6rem;
	background-color: rgba(51, 51, 51, 1);
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}
.m-menu__menu-link {
	font-style: 1.4rem;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	font-weight: 500;
	transition: 0.2s;
}
.m-menu__menu-link:hover {
	cursor: pointer;
	color: rgba(212, 7, 84, 1);
}
.m-menu__menu-link--sign-in-btn {
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(212, 7, 84, 1);
	border-radius: 100px;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.4s;
}
.m-menu__menu-link--sign-in-btn:hover {
	background-color: rgba(212, 7, 84, 1);
}
.m-menu__close-menu {
	position: fixed;
	right: 5rem;
	top: 5rem;
	font-size: 5rem;
	font-weight: 900;
	color: rgba(255, 255, 255, 1);
	transition: 0.2s;
}
.m-menu__close-menu:hover {
	cursor: pointer;
	color: rgba(212, 7, 84, 1);
}

.form-container {
	display: flex;
	z-index: 4;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.form-container__form-cross {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.form-container__form-cross h1 {
	font-size: 5rem;
	margin: 0 0;
	cursor: pointer;
	transition: 0.2s;
}
.form-container__form-cross h1:hover {
	color: rgba(212, 7, 84, 1);
}
.form-container h2 {
	text-align: center;
	font-size: 3rem;
}
.form-container form {
	flex-basis: 100vh;
	padding: 6rem;
	background: rgba(249, 250, 252, 1);
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
	transition: 0.5s;
}
.form-container__form:hover{
	box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
}
.form-container__input {
	padding: 0.5em;
	font-size: 2em;
	background: rgba(244, 244, 244, 1);
	border: 1px solid rgba(204, 204, 204, 1);
	border-width: 1px 1px 1px 0;
	border-radius: 0.5em;
}
.form-container__input:focus {
	background: rgba(255, 255, 255, 1);
	box-shadow: inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.2);
	outline: 0;
}
.form-container .form-field {
	margin-bottom: 1em;
	display: flex;
}
.form-container .form-field__label {
	flex: 0 1 4em;
	padding: 1em;
	background: rgba(255, 255, 255, 1);
	border: 1px solid #ccc;
	font-size: 1.5em;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	line-height: 1;
	border-radius: 0.25em 0 0 0.25em;
}
.form-container .form-field__input {
	flex-grow: 1;
}
.form-container .form-field__input, .multi-input .form-field__input:last-child {
	border-radius: 0 0.25em 0.25em 0;
	flex-direction: row;
	justify-content: center; 
}
.form-container .multi-input > input {
	border-radius: 0;
}
.form-container .submit-field {
	display: flex;
	justify-content: center;
}
.form-container__button {
	flex: 0 1 40%;
	padding: 0.5em;
	font-size: 2rem;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(212, 7, 84, 1);
	border-radius:  0.5em;
	border: 1px solid rgba(212, 7, 84, 1);
	transition: 0.3s;
	cursor: pointer;
	text-transform: uppercase;
}
.form-container__button:hover {
	color: rgba(212, 7, 84, 1);
	background-color: rgba(255, 255, 255, 1);
}
.form-container .reg-link {
	display: flex;
	justify-content: center;
	padding: 2rem;
}
.form-container .reg-link .reg-link__reg-btn {
	text-decoration: none;
	font-size: 2rem;
	width: 12rem;
	border: 1px solid rgba(212, 7, 84, 1);
	border-radius: 0.5rem;
	padding: 0.5rem 0.5rem;
}
.form-container .reg-link .reg-link__reg-btn:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(212, 7, 84, 1);
	transition: 0.5s;
}
.auto-link {
	display: flex;
	justify-content: center;
	padding: 2rem;
}
.auto-link a {
	text-decoration: none;
	font-size: 2rem;
	width: 13rem;
	border: 1px solid rgba(212, 7, 84, 1);
	border-radius: 0.5rem;
	padding: 0.5rem 0.5rem;
}
.auto-link a:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(212, 7, 84, 1);
	transition: 0.5s;
}

.movie {
	display: flex;
	z-index: 1;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.movie-form {
	flex-basis: 100vh;
	padding: 6rem;
	background: rgba(249, 250, 252, 1);
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
	transition: 0.5s;
}
.movie-form:hover {
	box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
}
.movie-form__form-cross {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.movie-form__form-cross h1 {
	font-size: 5rem;
	margin: 0 0;
	cursor: pointer;
	transition: 0.2s;
}
.movie-form__form-cross h1:hover {
	color: rgba(212, 7, 84, 1);
}
.movie-form__poster {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 4rem 0;
}
.poster__info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 4rem;
}
.poster__info .info__title {
	font-size: 2rem;
	text-transform: uppercase;
	margin: 0 auto;
	color: rgba(79, 79, 111, 1);
}
.poster__info .info__release {
	font-size: 2rem;
	color: rgba(79, 79, 111, 1);
}
.poster__info .info__overview {
	font-size: 1.8rem;
	color: rgba(79, 79, 111, 1);
}
.poster__info .info__vote {
	margin: 0 0;
	font-size: 1.5rem;
	color: rgba(79, 79, 111, 1);
}
.info__btn {
	background-color: rgba(255, 255, 255, 1);
	border: rgba(159, 164, 175, 1) 1px solid;
	color: rgba(159, 164, 175, 1);
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem auto;
	border-radius: 0.5rem;
}
.info__btn:hover {
	cursor: pointer;
	background-color: rgba(212, 7, 84, 1);
	color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}