@media (max-width: 991px) {
	html {
		font-size: 7px;
	}
	.movie__img {
		width: 400px;
		margin: 2rem;
	}
}
@media (max-width: 640px) {
	.slider {
		flex-flow: column;
		margin: 8.5rem 0;
	}
	.slider__item {
		width: 100%;
		height: 25vh;
	}
	.slider__item:hover {
		flex-grow: 30%;
	}
	.movie__img {
		width: 300px;
	}
}
@media (max-width: 1299px) {
	html {
		font-size: 0.7rem;
	}
	.poster__release {
		margin: 0 0;
	}
	.footer {
		justify-content: center;
		margin-top: 1rem;
	}
	.footer-top__menu {
		display: none;
	}
	.legal {
		flex-direction: column;
		padding-bottom: 5rem;
	}
	.social-links {
		padding-top: 3rem;
	}
	.social-links a{
		font-size: 3rem;
	}
}
@media (max-width: 1090px) {
	.visible-lg {
		display: none;
	}
	.m-menu-link {
		display: block;
	}
}
