.movie-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-container {
  margin: 10rem 0;
}
.movie-container__movie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
}
.movie__img {
  border-radius: 1rem;
}

.movie__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
}
.info__title {
  font-size: 5rem;
	text-transform: uppercase;
	color: rgba(79, 79, 111, 1);
}
.info__release {
  font-size: 2rem;
	color: rgba(79, 79, 111, 1);
}
.info__vote {
  font-size: 1.5rem;
	color: rgba(79, 79, 111, 1);
}
.info__overview {
  font-size: 1.5rem;
	color: rgba(79, 79, 111, 1);
}
